.App {
  text-align: center;
  background-color: darkgreen;
}

.filters {
  background-color: yellow;
  width: 25%;
  height: 100%;
  overflow-x: auto;
}

.filter-itens {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
